@font-face{
    font-family: "multicolore";
    src: url('../multicolore.otf');
}

body{
    margin: 0;
}
h1{
    font-family: "multicolore", Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 10px;
    color: #121326;
    font-size: 25px;
}
h4{
    font-family: "multicolore", Helvetica, Arial, sans-serif;
    text-align: center;
}
h3{
    font-family: "multicolore", Helvetica, Arial, sans-serif;
    text-align: center;
}

input[type=text] {
	padding:5px; 
	border:2px solid #ccc; 
	webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type=text]:focus {
	border-color:#333; 
}

input[type=submit] {
	padding:5px 15px; 
	background:#ccc; 
	border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#flash_message{
	position: fixed;
    background: grey;
    left: 0;
    color: white;
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
    right: 0;
    top: 0;
    font-size: 20px;
    border-radius: 5px;
    display: none;
    z-index: 2000;
    top: 20px;
    font-weight: bold;
}

.strong{
    font-weight: bold;
}
.inline{
    display: inline-block;
}

#menu{
    position: fixed;
    left:-250px;
    top:0;
    bottom: 0;
    width:250px;
    background-color: #121326;
    color: #FFFFFF;
    z-index: 50;
    -webkit-transition: left 1s;
    transition: left 1s;
}

#menu_button{
    width: 50px;
    height: 50px;
    background: url(../img/menu_button.png);
    background-size: contain;
    position: absolute;
    top: 0;
    right: -50px;
    background-color: rgba(255,255,255,0.5);
}
#menu_content{
    padding: 15px;
    font-size: 20px;
}

#menu_content a{
    text-decoration: none;
    color:#FFFFFF;
}

#menu_content p{
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.1);
    padding: 5px;
}

#menu_path{
    display: none;
}