<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
	<img src="img/logo.png" class="logo" />
	<h1>Open Your Eyes</h1>
	<p>Liste des parcours disponibles</p>
	<ul>
    <% paths.forEach(function(r) { %>
        <li><a href="/path/<%= r.id %>"><%= r.name %></a></li>
    <% }); %>
</ul>
</body>
</html>